USE [master]
GO
/****** Object:  Database [TestManagementApp]    Script Date: 2023. 06. 01. 20:52:52 ******/
CREATE DATABASE [TestManagementApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestManagementApp', FILENAME = N'F:\SQL Server Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestManagementApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestManagementApp_log', FILENAME = N'F:\SQL Server Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestManagementApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestManagementApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestManagementApp]
GO
/****** Object:  Table [dbo].[DailyTest]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyTest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamMemberID] [int] NULL,
	[ScheduleDayID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Action] [int] NOT NULL,
 CONSTRAINT [PK_DailyTest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Execution]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Execution](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [float] NOT NULL,
	[Result] [int] NOT NULL,
	[FailedStepID] [int] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Execution] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ParentFolderID] [int] NULL,
 CONSTRAINT [PK_Folder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleDay]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_ScheduleDay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Step]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Step](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NULL,
	[StepNum] [int] NULL,
	[StepDescription] [nvarchar](max) NULL,
	[StepResult] [nvarchar](max) NULL,
 CONSTRAINT [PK_Step] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_TeamMember] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 2023. 06. 01. 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FolderID] [int] NULL,
	[TeamMemberID] [int] NULL,
	[TestName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Result] [int] NULL,
	[Precondition] [nvarchar](max) NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyTest]  WITH CHECK ADD  CONSTRAINT [FK_DailyTest_ScheduleDay] FOREIGN KEY([ScheduleDayID])
REFERENCES [dbo].[ScheduleDay] ([ID])
GO
ALTER TABLE [dbo].[DailyTest] CHECK CONSTRAINT [FK_DailyTest_ScheduleDay]
GO
ALTER TABLE [dbo].[DailyTest]  WITH CHECK ADD  CONSTRAINT [FK_DailyTest_TeamMember] FOREIGN KEY([TeamMemberID])
REFERENCES [dbo].[TeamMember] ([ID])
GO
ALTER TABLE [dbo].[DailyTest] CHECK CONSTRAINT [FK_DailyTest_TeamMember]
GO
ALTER TABLE [dbo].[DailyTest]  WITH CHECK ADD  CONSTRAINT [FK_DailyTest_Test] FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([ID])
GO
ALTER TABLE [dbo].[DailyTest] CHECK CONSTRAINT [FK_DailyTest_Test]
GO
ALTER TABLE [dbo].[Execution]  WITH CHECK ADD  CONSTRAINT [FK_Execution_Step] FOREIGN KEY([TestID])
REFERENCES [dbo].[Step] ([ID])
GO
ALTER TABLE [dbo].[Execution] CHECK CONSTRAINT [FK_Execution_Step]
GO
ALTER TABLE [dbo].[Execution]  WITH CHECK ADD  CONSTRAINT [FK_Execution_Test] FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([ID])
GO
ALTER TABLE [dbo].[Execution] CHECK CONSTRAINT [FK_Execution_Test]
GO
ALTER TABLE [dbo].[Folder]  WITH CHECK ADD  CONSTRAINT [FK_Folder_Folder] FOREIGN KEY([ParentFolderID])
REFERENCES [dbo].[Folder] ([ID])
GO
ALTER TABLE [dbo].[Folder] CHECK CONSTRAINT [FK_Folder_Folder]
GO
ALTER TABLE [dbo].[Step]  WITH CHECK ADD  CONSTRAINT [FK_Step_Test] FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([ID])
GO
ALTER TABLE [dbo].[Step] CHECK CONSTRAINT [FK_Step_Test]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Folder] FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([ID])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Folder]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_TeamMember] FOREIGN KEY([TeamMemberID])
REFERENCES [dbo].[TeamMember] ([ID])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_TeamMember]
GO
USE [master]
GO
